/* 
    General Styles
*/
.carousel {
    border-radius: 20px 20px  20px  20px ;
    overflow: hidden;
    margin-top: 25px;
}
.carousel1 {
    margin-top: 10px;   
    border-radius: 0px 0px  0px  0px ;
    width: 75%;
    height: 10cm;
    overflow: hidden;
    margin-left: 13% 
 
}
.margenes {
    margin-bottom: 3cm;
}