/* 
    General Styles
*/
.carousel {
    border-radius: 20px 20px  20px  20px ;
    overflow: hidden;
    margin-top: 25px;
}
.carousel1 {
    margin-top: 10px;   
    border-radius: 0px 0px  0px  0px ;
    width: 75%;
    height: 10cm;
    overflow: auto;
    margin-left: 13% 
 
}
.margenes {
    margin-bottom: 3cm;
}
#text1{
    margin-top: 20px;
}
#formulario1{
    margin-left: 100px;;
}
#navb1{
    margin-left: 160px;
}

#logo{
    width: 50px;
    height: 50px;
}

#footer{
    background-color:white;
}
#cinde{
    height: 70px;
    width: 150px;
}
#geeks{
    width: 50px;
}

.not-found{
    font-size: 100px;
}

#relative{position: relative;}

#estilo{
    position: absolute; 
    bottom: 10px;
    right: 10px;
    // margin-left: 7cm; margin-top: 1cm;
}
.prueba{
    margin: 0px !important;
}
